{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.langage) }}
{{ form_row(form.publicationDate) }}
{{ form_row(form.thumbnailUrl) }}
{{ form_row(form.frequency) }}
{{ form_row(form.authors) }}
{{ form_row(form.publishers) }}
{{ form_row(form.users) }}

<div class="text-end">
  <button type="submit" class="btn btn-primary">Enregistrer</button>
</div>
{{ form_end(form) }}
