{% extends 'admin_base.html.twig' %}

{% block title_admin %}
  Périodique
{% endblock %}

{% block admin_content %}
  <div class="row align-items-end gap-2 mb-3">
    <div class="col-auto me-auto">
      <h2 class="h4 mb-0">Liste des périodique</h2>
    </div>

    <div class="col-auto">
      <a href="{{ path('app_admin_document_periodical_new') }}" class="btn btn-primary">Ajouter</a>
    </div>
  </div>

  <div class="table-responsive border rounded">
    <table class="table table-striped mb-0 align-middle">
      <thead class="table-bordered text-center">
        <tr>
          <th>Id</th>
          <th>Titre</th>
          <th>Langage</th>
          <th>Date de Publication</th>
          <th>Fréquence</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for periodical in periodicals %}
          <tr>
            <td>{{ periodical.id }}</td>
            <td>{{ periodical.title }}</td>
            <td>{{ periodical.langage }}</td>
            <td>{{ periodical.publicationDate ? periodical.publicationDate|date('Y-m-d') : '' }}</td>
            <td>{{ periodical.frequency.label() }}</td>
            <td>
              <div class="d-flex align-items-center justify-content-center gap-2">
                <a href="{{ path('app_admin_document_periodical_show', { id: periodical.id }) }}" class="btn btn-secondary">Détails</a>
                <a href="{{ path('app_admin_document_periodical_edit', { id: periodical.id }) }}" class="btn btn-secondary">Modifier</a>
                {% include 'admin/document/periodical/_delete_form.html.twig' %}
              </div>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="6">aucun périodique trouvé</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
