{% extends 'admin_base.html.twig' %}

{% block title %}
  Auteur
{% endblock %}

{% block admin_content %}
  <div class="row align-items-end gap-2 mb-3">
    <div class="col-auto me-auto">
      <h2 class="h4 mb-0">Liste des auteurs</h2>
    </div>

    <div class="col-auto">
      <a href="{{ path('app_admin_author_new') }}" class="btn btn-primary">Ajouter</a>
    </div>
  </div>

  <div class="table-responsive border rounded">
    <table class="table table-striped mb-0 align-middle">
      <thead class="table-bordered">
        <tr>
          <th>Id</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        {% for author in authors %}
          <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.firstname }}</td>
            <td>{{ author.lastname }}</td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <a href="{{ path('app_admin_author_show', { id: author.id }) }}" class="btn btn-secondary">Afficher</a>
                <a href="{{ path('app_admin_author_edit', { id: author.id }) }}" class="btn btn-secondary">Modifier</a>
                {% include 'admin/author/_delete_form.html.twig' %}
              </div>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4">aucun auteur trouvé</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
