{% extends 'admin_base.html.twig' %}

{% block title_admin %}
  Video
{% endblock %}

{% block admin_content %}
  <h1 class="mb-3">Video n°{{ video.id }}</h1>

  <div class="table-responsive border rounded">
    <table class="table table-striped mb-0 align-middle">
      <tbody class="text-center">
        <tr>
          <th>Titre</th>
          <td>{{ video.title }}</td>
        </tr>
        <tr>
          <th>Langage</th>
          <td>{{ video.langage }}</td>
        </tr>
        <tr>
          <th>Date de publication</th>
          <td>{{ video.publicationDate ? video.publicationDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>{{ video.duration ? video.duration|date('H:i:s') : '' }}</td>
        </tr>
        <tr>
          <th>Format</th>
          <td>{{ video.format.label() }}</td>
        </tr>
        <tr>
          <th>Auteur</th>
          <td>
            <ul class="list-unstyled mb-0">
              {% if video.authors is empty %}
                <li>Aucun auteur</li>
              {% endif %}
              
              {% for author in video.authors %}
                <li>{{ author.firstname }} {{ author.lastname}}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th>Éditeur</th>
          <td>
            <ul class="list-unstyled mb-0">
              {% if video.publishers is empty %}
                <li>Aucun éditeur</li>
              {% endif %}

              {% for publisher in video.publishers %}
              
                {% if publisher.firstname is empty %}
                  <li>{{ publisher.name }}</li>
                {% else %}
                  <li>{{ publisher.firstname }} {{ publisher.lastname }}</li>
                {% endif %}

              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th>Utilisateur en favori</th>
          <td>
            <ul class="list-unstyled mb-0">
              {% if video.users is empty %}
                <li>Aucun auteur</li>
              {% endif %}

              {% for user in video.users %}
                <li>{{ user.email }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-3 d-flex gap-2">
    <a href="{{ path('app_admin_document_video_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <a href="{{ path('app_admin_document_video_edit', { id: video.id }) }}" class="btn btn-primary">Modifier</a>

    {% include 'admin/document/video/_delete_form.html.twig' %}
  </div>
{% endblock %}
